<?xml version="1.0" ?>
<launch>

	<!-- REAL ROBOT LAUNCH FILE  "Simple example" -->

	<include file="$(find kuka_fri_bridge)/launch/fri_bridge.launch">
		<arg name="controllers"       value="joint_controllers"/>
    		<arg name="rviz_config"       value="$(find simple_example)/launch/rviz/rviz_config.rviz"/>
		<arg name="load-rviz"	      value="true"/>
        </include>

</launch>
