<?xml version="1.0" ?>
<launch>

	<!-- SIMULATION LAUNCH FILE  "MPC linear example" -->

  	<include file="$(find lwr_launch)/launch/simulation.launch">
		<arg name="controllers"	      value="joint_controllers"/>
    		<arg name="rviz_config"       value="$(find lwr_mpc_examples)/launch/rviz/rviz_config.rviz"/>
 		<arg name="t1_limits" 	      value="false"/>
 	</include>

        <!-- Launch action_client after 4 seconds-->
        <node pkg="lwr_mpc_examples" type="timed_roslaunch.sh"
            args="5 simple_example client.launch"
            name="timed_kuka_client" output="screen">
        </node>

        <!-- Go to left position  -->
        <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /action_client/kuka_action_cmd 'cmd: 'go_front''"/>

</launch>
