<?xml version="1.0"?>
<robot name="kuka_lwr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find lwr_description)/model/kuka_lwr_robot.urdf.xacro"/>

  <!-- This is a model of the KUKA LWR that is rooted in the 'world' frame. -->
  <xacro:macro name="kuka_lwr" params="name *origin">
    <link name="world"/>

    <gazebo reference="world">
      <static>true</static>
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <xacro:kuka_lwr_variable_root name="${name}"
                                  base_link="world"
                                  >
    </xacro:kuka_lwr_variable_root>

  </xacro:macro>
</robot>
